<section id="banner">
  <header>
    <h2>Ask and you shall recieve.</h2>
    <%= link_to "New Question", new_question_path, id: 'new_question_link', remote: true %>
  </header>
</section>

<!-- Carousel -->
<% if @questions.any? %>
  <section class="carousel">
    <div class="reel">
      <% @questions.each do |question| %>
        <article>
          <a class="image featured"><%= image_tag "pic01.jpg" %></a>
          <header>
            <h3>Would you rather...</h3>
          </header>
          <a><p><%= link_to question.option_one, vote_one_path(question), remote: true, id: "#{question.id}-option-one" %><span id='<%= question.id %>-one'></span></p></a>
          <h3>Or</h3>
          <br>
          <a><p><%= link_to question.option_two, vote_two_path(question), remote: true, id: "#{question.id}-option-two" %><span id='<%= question.id %>-two'></span></p></a>
        </article>
      <% end %>
    </div>
  </section>
<% end %>
